body{
	background-image: url('imagens-annabella/fundo.png');
	font: 16px arial, helvetica, sans-serif;
}

.capa{
	width: 900px;
}

.menu{
	background: #c5c5b2;

	font-weight: 100;
	
	/* o padding determina a largura do containner*/
	padding: 18px

	
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;
}


a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
}
body{
	width: 900px
}